<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="icon" href="../../favicon.ico">

    <title>病情先诊系统</title>

    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">病情先诊系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="state">PatientName</a></li>
                <li><a href="#" id="PatientName">PatientName</a></li>
                <li><a href="/login">Logout</a></li>
                <li><a href="#" id="session.patientName" style="display: none"><%=patientName%></a></li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
            <!--<input type="text" class="form-control" placeholder="Search...">-->
            <!--</form>-->
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">患者端 <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/Allquestions">所有问题</a></li>
                <li><a href="/PatientInfo">用户信息</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h2 class="sub-header">问题列表</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>状态</th>
                        <th>病例号</th>
                        <th>提问人</th>
                        <th>病例类别</th>
                        <th>病例描述</th>
                        <th>提交时间</th>
                        <th>最后回复时间</th>
                        <th>详情</th>
                    </tr>
                    </thead>
                    <tbody id="tbMain">
                    <!--<tr>-->
                    <!--<td><a href="/PatientInfo">张三</a></td>-->
                    <!--<td>2018/12/13</td>-->
                    <!--<td>内科</td>-->
                    <!--<td>普通感冒怎么治疗</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


<!--引入外部文件的方式-->
<script type="text/javascript" src="../javascripts/allQuestions.js"></script>
</body>
</html>
