<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
</head>
<body>
    <p class="name">doctorID:<%= doctorID %></p>
    <p class="name">doctorName:<%= doctorName %></p>


</body>
<script>
    $(document).ready(function(){
        // $('.name').text($.cookie('doctorID') + '   ' + $.cookie('doctorName'));
        $.ajax({
            url: '/API/requestLogin',
            type: "GET",
            // dataType:"html",
            data: {
                'account': 'xiangge',
                'password': 'xiangge',
                'age': 12,
                'gender': 'female',
                'phone': '120',
                'patientName': 'xiangge'
            },
            success: function (result) {
                if (result != 'Failed') {
                    console.log(result);
                } else {
                    console.log('wrong')

                }
            }
        });
    })
</script>
</html>
