<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>医疗先诊系统</title>
    <meta name="author" content="DeathGhost"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/login_register.css"/>
    <style>
        body {
            height: 100%;
            background: #16a085;
            overflow: hidden;
        }
        canvas {
            z-index: -1;
            position: absolute;
        }
    </style>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../javascripts/jquery.cookie.js"></script>
    <script src="../javascripts/Particleground.js"></script>
    <script>
        $(document).ready(function () {
            //粒子背景特效
            $('body').particleground({
                dotColor: '#5cbdaa',
                lineColor: '#5cbdaa'
            });
            //测试提交，对接程序删除即可
            $(".submit_btn").click(function () {
                var account = $('#account').val()
                var pwd = $('#pwd').val()
                $.ajax({
                    url: '/API/requestPatientLogin',
                    type: "GET",
                    // dataType:"html",
                    data: {'account': account, 'password': pwd},
                    success: function (result) {
                        if (result != 'Failed') {
                            console.log(result);
                            window.location.href = result.url
                        } else {
                            console.log('wrong')
                            alert('用户名或密码错误');
                        }
                    }
                });
                // if(account.indexOf('doctor') == 0){
                //     console.log('doctor login request');
                //     $.ajax({
                //         url:'/API/requestDoctorLogin',
                //         type:"GET",
                //         // dataType:"html",
                //         data:{'account':account,'password':pwd},
                //         success:function(result){
                //             if(result!='Failed'){
                //                 console.log(result);
                //                 window.location.href = result.url
                //             }else {
                //                 console.log('wrong')
                //                 alert('用户名或密码错误');
                //             }
                //         }
                //     });
                // }
                // if(account.indexOf('xiangge') == 0){
                //     console.log('patient login request');
                //     $.ajax({
                //         url:'/API/requestPatientLogin',
                //         type:"GET",
                //         // dataType:"html",
                //         data:{'account':account,'password':pwd},
                //         success:function(result){
                //             if(result!='Failed'){
                //                 console.log(result);
                //                 window.location.href = result.url
                //             }else {
                //                 console.log('wrong')
                //                 alert('用户名或密码错误');
                //             }
                //         }
                //     });
                // }
            });
        });
    </script>
</head>
<body>
<dl class="admin_login">
    <dt>
        <strong>医疗先诊系统</strong>
        <em>Hospital System</em>
    </dt>
    <dd class="user_icon">
        <input type="text" placeholder="账号" class="login_txtbx" id="account"/>
    </dd>
    <dd class="pwd_icon">
        <input type="password" placeholder="密码" class="login_txtbx" id="pwd"/>
    </dd>
    <dd>
        <input type="button" value="立即登陆" class="submit_btn"/>
    </dd>
    <dd>
        <p>NJU 2-15 版权所有</p>
    </dd>
</dl>
</body>
</html>
